@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card" style="margin-top:2rem; width: 40rem">
        <strong>Instance A: </strong> @ViewData["InstanceA"]
        <strong>Instance B: </strong> @ViewData["InstanceB"]
    </div>
</div>
